<!-- Display skeleton loaders while data is being fetched -->
<ng-container *ngIf="loaderService.loaderSubject.getValue()">
    <div class="grid">
        <div class="col">
            <app-skeleton></app-skeleton>
        </div>
        <div class="col">
            <app-skeleton></app-skeleton>
        </div>
        <div class="col">
            <app-skeleton></app-skeleton>
        </div>
    </div>
</ng-container>

<!-- Display task boards when data is available -->
<ng-container *ngIf="!loaderService.loaderSubject.getValue()">
    <div class="grid">
        <!-- To do -->
        <div class="col">
            <p-card header="To Do" [styleClass]="'ml-2 surface-200 border-round-2xl'">
                <app-task *ngFor="let task of filterTasksByStatus('to do')" [task]="task" [users]="users"></app-task>
                <ng-template pTemplate="footer">
                    <app-create-task></app-create-task>
                </ng-template>
            </p-card>
        </div>
        <!-- In progress -->
        <div class="col">
            <p-card header="In Progress" [styleClass]="'surface-200 border-round-2xl'">
                <app-task *ngFor="let task of filterTasksByStatus('in progress')" [task]="task" [users]="users"></app-task>
                <ng-template pTemplate="footer">
                    <app-create-task></app-create-task>
                </ng-template>
            </p-card>
        </div>
        <!-- Done -->
        <div class="col">
            <p-card header="Done" [styleClass]="'mr-2 surface-200 border-round-2xl'">
                <app-task *ngFor="let task of filterTasksByStatus('done')" [task]="task" [users]="users"></app-task>
                <ng-template pTemplate="footer">
                    <app-create-task></app-create-task>
                </ng-template>
            </p-card>
        </div>
    </div>
</ng-container>